body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto Slab', serif; }

.banner {
  width: 100%;
  height: 770px;
  background-image: url(../images/HomeBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  .banner__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .banner__info-title {
      font-size: 48px;
      color: white;
      font-family: "Montserrat", sant-serif;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 33px; }
      .banner__info-title_small {
        font-size: 20px;
        color: white;
        font-family: "Roboto Slab", sant-serif;
        text-transform: capitalize;
        margin-bottom: 53px; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 40px;
  width: 1140;
  margin: 0 auto;
  position: absolute;
  top: 0; }
  .header__logo {
    font-size: 24px;
    color: white;
    font-family: "Montserrat", sant-serif;
    font-weight: 700; }
  .header__links-item {
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-family: "Montserrat", sant-serif;
    margin-right: 35px; }
    .header__links-item:last-child {
      margin: 0; }
    .header__links-item:hover {
      text-decoration: none;
      color: white; }
  @media screen and (max-width: 1140px) {
    .header {
      width: 100%;
      padding: 0 15px;
      padding-top: 20px; } }

.button {
  border: 2px solid white;
  border-radius: 2px;
  outline: none;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 16px;
  color: white;
  font-family: "Montserrat", sant-serif;
  font-weight: 400px;
  padding: 18px 45px;
  box-sizing: border-box; }

.services {
  padding: 100px 0;
  box-sizing: border-box; }
  .services .card {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px; }
    .services .card img {
      width: 85px;
      height: 85px;
      margin-bottom: 30px; }
    .services .card__title {
      font-size: 14px;
      color: #555555;
      font-family: "Montserrat", sant-serif;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 25px; }
    .services .card__text {
      font-size: 14px;
      color: #555555;
      font-family: "Roboto Slab", sant-serif;
      font-weight: 400;
      text-align: center; }

.title {
  font-size: 20px;
  color: #555555;
  font-family: "Montserrat", sant-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 62px;
  position: relative;
  text-align: center; }
  .title::after {
    content: '';
    position: absolute;
    left: calc(50% - 25px);
    bottom: -32px;
    height: 2px;
    width: 50px;
    background: #555555; }

.subtitle {
  font-size: 16px;
  color: #555555;
  font-family: "Roboto Slab", sant-serif;
  font-weight: 400;
  text-align: center; }
